<footer class="footer">

  <div class="container">

    <p class="text-center text-gray">{{ site.email | escape }}</p>
    <a href="www.juliabertolaso.com" target="_blank">web</a>

  </div>

</footer>
