.content p,{
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.content h2,{
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.content h3,{
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.content ul  {
  max-width: $container;
  margin-left: auto;
  margin-right: auto;
}

.content figure {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

// @include mq($large-screen) {
//   .content figure {
//     border: 5px solid red;
//   }
// }

// post-list
.post-list .post-period {
  font-style: italic;
}
