---
layout: default
---

<div class="container">
  <h1 class="text-center">Design For Emergent Futures</h1>
  <p>

    Information processing...
  </p>

  <div class="content">
    <div class="bg-image">
    {{ content }}
      </div>
  </div>
</div>
